.info-card {
  block-size: 100%;
  pointer-events: all;
}

.info-card--text {
  flex-grow: 1;
}

.info-card--content {
  overflow-y: auto;
  align-items: start;
  gap: var(--spacing-32);
  padding: var(--spacing-16);
}

.info-card--description {
  font-family: var(--serif-font);
}

.info-card--image {
  inline-size: auto;
  max-block-size: 300px;
}

.info-card--button {
  margin-block-end: 25px;
  text-align: center;
}
