html,
body {
  overflow: hidden;
  inline-size: 100vw;
  block-size: 100vh;
  margin: 0;
  padding: 0;
}

.fill-viewport {
  overflow: hidden;
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
}

.fill-viewport.landscape-left {
  inset-inline-start: env(safe-area-inset-left);
}

.fill-viewport.landscape-right {
  inset-inline-end: env(safe-area-inset-right);
}

.viewer-class {
  z-index: 1;
}

.preload-container-class {
  opacity: 0;
  z-index: 2;
  background-color: rgb(255 255 255 / 1);
  transition: opacity 0.5s;
}

.preload-container-class > div {
  position: absolute;
  z-index: 4;
  inset-block-start: 51.09%;
  inset-inline-start: 0%;
  inline-size: 100%;
  block-size: 8.78%;
}
