.chapter {
  inline-size: 100%;
  margin-block-end: var(--spacing-64);
  padding-block: var(--spacing-64);
}

.chapter:nth-child(even) {
  background-color: var(--color-primary);
}

.chapter--title,
.chapter--text,
.chapter--content {
  margin-inline: auto;
}

.chapter--text {
  font-family: var(--serif-font);
}

.chapter--content {
  margin-block: var(--spacing-16);
}

@media (--xlarge-viewport) {
  .chapter--title,
  .chapter--text,
  .chapter--content {
    inline-size: 40vw;
  }
}

@media (--large-viewport) {
  .chapter--title,
  .chapter--text,
  .chapter--content {
    inline-size: 80vw;
  }
}

@media (--medium-viewport) {
  .chapter--title,
  .chapter--text,
  .chapter--content {
    inline-size: 90vw;
  }
}

@media (--small-viewport) {
  .chapter--title,
  .chapter--text,
  .chapter--content {
    inline-size: 100%;
    padding: var(--spacing-32);
  }
}
