.quest-items {
  display: flex;
  overflow-y: scroll;
  gap: var(--spacing-64);
  position: relative;
  block-size: 100%;
  padding: var(--spacing-32);
}

.quest-items--grid {
  display: grid;
  gap: var(--spacing-32);
  padding-block-end: var(--spacing-32);
}

.quest-items--next-items {
  display: flex;
  gap: var(--spacing-8);
  max-inline-size: 300px;
}

.quest-items--current,
.quest-items--next {
  padding: var(--spacing-32);
  text-align: center;
}

.quest-items--list {
  align-items: center;
}

@media (--xlarge-viewport) {
  .quest-items {
    justify-content: center;
  }

  .quest-items > * {
    flex-basis: 50%;
  }

  .quest-items--grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (--large-viewport) {
  .quest-items {
    justify-content: center;
  }

  .quest-items > * {
    flex-basis: 50%;
  }

  .quest-items--grid {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (--medium-viewport) {
  .quest-items {
    justify-content: center;
  }

  .quest-items > * {
    flex-basis: 50%;
  }

  .quest-items--grid {
    grid-template-columns: repeat(1, 300px);
  }
}

@media (--small-viewport) {
  .quest-items {
    flex-direction: column;
  }

  .quest-items--grid {
    grid-template-columns: repeat(1, 300px);
  }
}
