/* stylelint-disable no-duplicate-selectors */

/* Color Palette */
:root,
::before,
::after {
  --peach-blossom: hsl(3 98% 79%);
  --peach-blossom-lighter: hsl(2 100% 90%);
  --light-grey: hsl(0 0% 95%);
  --white: hsl(0 0% 100%);
  --light-black: hsl(0 0% 20%);
  --black: hsl(0 0% 0%);
}

/* UI Colors */
:root,
::before,
::after {
  --color-primary: var(--peach-blossom);
  --color-primary-light: var(--peach-blossom-lighter);
  --color-disabled: var(--light-grey);
  --color-text: var(--light-black);
  --color-background-neutral: var(--light-grey);
  --color-background-dark: var(--light-black);
}

/* stylelint-enable no-duplicate-selectors */
