.sb-button {
  display: inline-flex;
  align-items: center;
  border: none;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-12);
  font-weight: 700;
  text-transform: uppercase;
}

/* stylelint-disable-next-line selector-max-combinators */
.sb-button > * + * {
  margin-inline-start: var(--spacing-4);
}

.sb-button[data-primary='true'] {
  background-color: var(--color-primary);
}

.sb-button[data-primary='true']:where(:focus,:hover,:active) {
  background-color: var(--color-primary-light);
}

.sb-button[data-primary='true']:where(:disabled) {
  background-color: var(--color-disabled);
}
