.sb-button {
  border: none;
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-12);
  font-weight: 700;
  text-transform: uppercase;
}

.sb-button[data-primary='true'] {
  background-color: var(--color-primary);
}

.sb-button[data-primary='true']:where(:focus,:hover,:active) {
  background-color: var(--color-primary-light);
}

.sb-button[data-primary='true']:where(:disabled) {
  background-color: var(--color-disabled);
}
