.tour-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  inline-size: 80vw;
  max-inline-size: 1024px;
  block-size: 60vh;
  margin: auto;
  transform: translateY(-50%) translateX(-50%);

  & > * {
    flex: 1;
  }
}
