.sb-footer {
  inline-size: 100%;
  margin-block-start: var(--spacing-64);
  padding: var(--spacing-32);
  background: var(--color-primary);
}

@media screen and (min-width: 1280px) {
  .sb-footer {
    padding-block: var(--spacing-32);
    padding-inline: var(--spacing-64);
  }
}

.footer-headline {
  margin-block-end: var(--spacing-32);
  font-size: var(--spacing-20);
  text-align: center;
  color: var(--color-white);
}

@media screen and (min-width: 1280px) {
  .footer-headline {
    text-align: start;
  }
}

.link-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
  color: var(--color-white);
}

.second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.networks-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-16);
}

.network-icon {
  color: var(--color-white);
}
