.menu-frame {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.menu-frame--container {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
}

.menu-frame--timer,
.menu-frame--logo,
.menu-frame--points,
.menu-frame--progress {
  display: inline-block;
  position: absolute;
  min-inline-size: 150px;
  padding-block: var(--spacing-8);
  padding-inline: var(--spacing-32);
  text-align: center;
  background-color: var(--white);
}

.menu-frame--logo,
.menu-frame--points {
  padding-inline-start: var(--spacing-64);
}

.menu-frame--timer,
.menu-frame--progress {
  padding-inline-end: var(--spacing-64);
}

.menu-frame--timer {
  clip-path: polygon(0 0, 100% 0%, 100% 0%, 75% 100%, 0% 100%);
  inset-block-start: 0;
  inset-inline-start: 0;
}

.menu-frame--logo {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%, 0% 0%);
  inset-block-start: 0;
  inset-inline-end: 0;
}

.menu-frame--points {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%, 25% 0%);
  inset-inline-end: 0;
  inset-block-end: 0;
}

.menu-frame--progress {
  clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%, 0% 0%);
  inset-block-end: 0;
  inset-inline-start: 0;
}

.menu-frame--help,
.menu-frame--map,
.menu-frame--menu {
  pointer-events: all;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-primary-light);
  }
}

.menu-frame--help {
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 40px;
  padding-inline: var(--spacing-64);
  font-size: 32px;
  background-color: var(--white);
}

.menu-frame--map,
.menu-frame--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  inset-block-start: 50%;
  inline-size: 40px;
  padding-block: var(--spacing-64);
  transform: translateY(-50%);
  font-size: 32px;
  background-color: var(--white);
}

.menu-frame--map {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 75%);
}

.menu-frame--menu {
  clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
}

.menu-frame--overlay-menu {
  z-index: 15;
  inline-size: 80vw;
  block-size: 100vh;
  background-color: var(--white);
  pointer-events: all;

  .menu-frame--menu-container[data-quest] & {
    inline-size: 100vw;
    block-size: 75vh;
  }
}

.menu-frame--menu-container {
  position: relative;

  &[data-menu],
  &[data-map] {
    display: flex;
    align-items: center;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  &[data-menu] {
    inset-inline-start: 0;
  }

  &[data-map] {
    justify-content: flex-end;
    inset-inline-end: 0;
  }

  &[data-quest] {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    inset-inline: 0;
    inset-block-start: 100%;
  }
}

.menu-frame--menu-container-box {
  display: flex;
  position: absolute;

  .menu-frame--menu-container[data-menu] &,
  .menu-frame--menu-container[data-map] &, {
    align-items: center;
  }

  .menu-frame--menu-container[data-quest] & {
    flex-direction: column;
    align-items: center;
  }
}

.fixed-container {
  overflow: scroll;
  z-index: 10000;
  inline-size: 100%;
  block-size: 100%;
}
